<div class="p-grid">
  <div class="p-col-12 p-md-6">
    <div class="p-grid">
      <div class="p-col-12">
        <p-panel header="{{titleNode}}">{{dataNode}}</p-panel>
      </div>
      <div class="p-col-12 p-md-12">
        <div class="p-grid">
          <div class="p-col-12 p-md-12">
            <p-button type="button" (onClick)="onCreateNode()" title="Создать узел" icon="pi pi-plus" label=""></p-button>
            <p-button icon="pi pi-pencil" (onClick)="onUpdateNode()" title="Обновить узел" label=""></p-button>
            <p-button [disabled]="!isDisabledDelete" icon="pi pi-ban" (onClick)="onRemoveNode()" title="Удалить" label=""></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6">
    <p-tree
      [loading]="loadingTree"
      filterMode="strict"
      selectionMode="single"
      [filter]="true"
      [value]="categoryTree"
      [(selection)]="selectedNode"
      (onNodeSelect)="nodeSelect($event)"></p-tree>
    <div style="margin-top: 8px">
      <button pButton type="button" label="Expand all" (click)="expandAll()" style="margin-right: .25em"></button>
      <button pButton type="button" label="Collapse all" (click)="collapseAll()"></button>
    </div>
  </div>
</div>

<div class="p-grid">
  <app-modal-form [display]="display" [isUpdate]="isUpdate" (childEvent)="onChildEvent($event)"></app-modal-form>
</div>
<div class="p-grid">
  <app-modal-dialog
    [display]="displayDialog"
    [isDelete]="isDisabledDelete"
    (childEvent)="onChildEvent($event)"></app-modal-dialog>
</div>


