<div class="p-grid">
  <div class="p-col-12 p-md-6">
    <div class="p-grid">
      <div class="p-col-12">
        <p-panel header="{{titleNode}}">{{dataNode}}</p-panel>
      </div>
      <div class="p-col-12 p-md-12">
        <div class="p-grid">
          <div class="p-col-12 p-md-1">
            <p-button type="button" (onClick)="onCreateNode()" title="Создать узел" icon="pi pi-plus" label=""></p-button>
          </div>
          <div class="p-col-12 p-md-1">
            <p-button icon="pi pi-pencil" (onClick)="onUpdateNode()" title="Обновить узел" label=""></p-button>
          </div>
          <div class="p-col-12 p-md-1">
            <p-button icon="pi pi-ban" title="Удалить" label=""></p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="p-col-12 p-md-6">
    <p-tree
      selectionMode="single"
      [value]="categoryTree"
      [(selection)]="selectedNode"
      (onNodeSelect)="nodeSelect($event)"></p-tree>
  </div>
</div>

<div class="p-grid">
  <app-modal-form [display]="display" [isUpdate]="isUpdate" (childEvent)="onChildEvent($event)"></app-modal-form>
</div>
<div class="p-grid">
  <app-modal-dialog [display]="displayDialog" (childEvent)="onChildEvent($event)"></app-modal-dialog>
</div>


