<p-dialog positionTop="50" header="Важно!" [(visible)]="display" (onHide)="onHide()" [modal]="true" [dismissableMask]="true">
  <p-header></p-header>
  <p *ngIf="!isDelete">Сообщение о ошибке:</p>
  <p *ngIf="isDelete">Предупреждение:</p>
  <p *ngIf="!isDelete"> Вы не выбрали узел, c которым хотите произвести действие!</p>
  <p *ngIf="isDelete"> Вы действительно хотите удалить раздел?</p>
  <p-footer *ngIf="!isDelete" class="p-footer-model-dialog">
    Администрация системы.
  </p-footer>
  <p-footer *ngIf="isDelete" class="">
    <button pButton type="button" label="Да" (click)="onYesDelete()" class="ui-button-danger"></button>
    <button pButton type="button" label="Нет" (click)="onHide()"></button>
  </p-footer>
</p-dialog>
