/* You can add global styles to this file, and also import other style files */
table td.hide-before:before {
  content: none !important;
}

table td.pi-align-center {
  text-align: center;
}

.ui-inputgroup input {
  width: 100%;
  padding-left: 10px;
}

.error-message {
  margin-bottom: 15px;
}
