<form [formGroup]="modalCategoryTreeForm" (ngSubmit)="onSubmit()" class="form-horizontal p-col-12">
  <p-dialog positionTop="50" (onHide)="onHide()" header="Создать (обновить) раздел:" [(visible)]="display" [modal]="true" [dismissableMask]="true">
    <div class="p-grid">
      <div class="p-col-12">
        <app-validator-message [field]="modalCategoryTreeForm.get('label')"></app-validator-message>
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
          <input type="hidden" pInputText formControlName="parentId">
          <input (keyup)="inputChange()" type="text" pInputText placeholder="Название" formControlName="label">
        </div>
      </div>
      <div class="p-col-12">
        <app-validator-message [field]="modalCategoryTreeForm.get('data')"></app-validator-message>
        <textarea rows="5" class="p-col-12" autoResize="autoResize" (keyup)="inputChange()" placeholder="Введите описание категории" formControlName="data" pInputTextarea></textarea>
      </div>
      <div class="p-col-12 p-md-12">
        <div class="p-grid">
          <div class="p-col-12 p-md-6">
            <button *ngIf="isUpdate" pButton type="submit" label="Обновить" class="ui-button-primary"></button>
            <button *ngIf="!isUpdate" pButton type="submit" label="Создать" class="ui-button-success"></button>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>
</form>
