<div class="p-grid">
  <form [formGroup]="customerForm" (ngSubmit)="onSubmit()" class="form-horizontal p-col-12">
    <div class="p-grid">
      <div class="p-col-12 p-md-6">
        <div class="p-grid">
          <div class="p-col-12 p-md-12">
            <app-validator-message [field]="customerForm.get('username')"></app-validator-message>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
              <input (keyup)="inputChange()" type="text" pInputText placeholder="username" formControlName="username">
            </div>
          </div>
          <div class="p-col-12 p-md-12">
            <app-validator-message [field]="customerForm.get('email')"></app-validator-message>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-envelope"></i></span>
              <input (keyup)="inputChange()" type="text" pInputText placeholder="Email" formControlName="email">
            </div>
          </div>
          <div class="p-col-12">
            <button *ngIf="customerForm.invalid" pButton type="submit" disabled label="Обновить пользователя"></button>
            <button *ngIf="customerForm.valid" pButton type="submit" label="Обновить пользователя"></button>
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-6">
        <div class="p-grid">
          <div class="p-col-12 p-md-12">
            <app-validator-message [field]="customerForm.get('firstName')"></app-validator-message>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
              <input (keyup)="inputChange()" type="text" pInputText placeholder="first_name" formControlName="firstName">
            </div>
          </div>
          <div class="p-col-12 p-md-12">
            <app-validator-message [field]="customerForm.get('lastName')"></app-validator-message>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-user"></i></span>
              <input (keyup)="inputChange()" type="text" pInputText placeholder="last_name" formControlName="lastName">
            </div>
          </div>
          <div class="p-col-12 p-md-12">
            <app-validator-message [field]="customerForm.get('role')"></app-validator-message>
            <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="pi pi-pw pi-users"></i></span>
              <input (keyup)="inputChange()" type="text" pInputText placeholder="role" formControlName="role">
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
